@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*======================*/

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 0;
    box-sizing: border-box;
}

/*=== CABEÇALHO ===*/

#curri {
    position: relative;
    text-align: center;
    line-height: 1.7rem;
    padding: 0.6rem;
}

#curri h1 {
    letter-spacing: 2px;
}

#baixarCurri {
    position: absolute;
    font-size: 0.8rem;
    text-decoration: none;
    top: 20%;
    right: 0;
    padding: 0 8px;
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    color: rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

#baixarCurri:hover {
    color: white
}

main {
    margin: 0 auto;
    max-width: 59rem;
    background-color: white;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
}

#principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: darkslategray
}

h1#nome {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

#profissao header {
    margin-bottom: 0.8rem;
}

#imagem {
    height: 200px;
    width: 153px;
    overflow: hidden;
}

#dadosPessoais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 0.8rem 1rem;
}

#profissao p {
    line-height: 1.3rem;
}

#contatos p {
    line-height: 2rem;
    font-size: 0.8rem;
}

#contatos a, #contatos a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
}

#contatos a:hover {
    color: white;
}

#contatos .fas, #contatos .fab {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding-right: 0.5rem;
    vertical-align: middle;
}

/*=== CORPO ===*/

#corpo {
    margin: 2.5em;
    padding-bottom: 1rem;
    line-height: 1.1rem;
}

/*=== Abre/Fecha seções ===*/

/* #divConteudo {
    overflow: hidden;
    transition: max-height 0.5s linear;
    max-height: 1000px;
} */

#divConteudo {
    overflow: hidden;
    /* height: auto; */
    transition: height 0.5s linear;
}

/* #divConteudo.Reduz {
    max-height: 0px;
}
 */
.fas.fa-minus-circle, .fas.fa-plus-circle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.fas.fa-minus-circle:hover, .fas.fa-plus-circle:hover {
    cursor: pointer;
}

.fas.fa-plus-circle {
    display: none;
}

h1 {
    font-size: 1.3rem;
    font-weight: bolder;
    position: relative;
}

h2, h3 {
    font-weight: bolder;
}

ol {
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
}

li {
    line-height: 1.15rem;
}

i {
    font-style: italic;
}

span.ramo {
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 1rem;
}

/*=== SEÇÕES ===*/

#resumoProfissional section {
    margin: 2rem 0;
}

#resumoProfissional section header {
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

#hisProfissional section {
    margin: 2rem 0;
}

#hisProfissional section header {
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

#formacao section {
    margin: 2rem 0;
}

#formacao section header {
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

#portfolio section {
    margin: 2rem 0;
}

#btnTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border: none;
    background-color: darkslategray;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    font-size: 20px;
    /*=====*/
    opacity: 0.5;
    transition: opacity 0.5s;
}

#btnTopo:hover {
    opacity: 1;
}

@media screen and (max-width: 920px) {
    #baixarCurri {
        position: initial;
    }
    #imagem {
        margin: 1.5rem 0 0 0;
        border-radius: 10%;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
    }
    #principal {
        flex-direction: column;
    }
    #dadosPessoais {
        flex-direction: column;
        align-items: flex-start;
    }
    #contatos {
        margin-top: 1.5rem;
    }
    #corpo {
        margin: 1em 0.5em;
    }
}